/**
 * General
 */
body
{
  margin: 0 auto;
  max-width: 900px;
  background-color: #F8FBEF;
  font-family: Arial;
}

/**
 * Header
 */
header
{
  margin-top: 20px;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

#site-nav li
{
  display: inline;
  list-style-type: none;
  padding-left: 20px;
}
#site-nav a
{
  text-decoration: none;
}
@media (min-width: 600px)
{
#site-nav
{
  float: right;
}
}

/**
 * Main content
 */
#content
{
  padding: 10px;
}
code
{
  white-space: pre;
}
