/**
 * Posts/articles
 */
.post
{
}
.post-title
{
}
.post-date
{
  margin: 0px;
  padding: 0px;
  font-size: 15px;
  font-style: italic;
  font-weight: normal;
}
.post-content
{
  margin-left: 25px;
}
