---
---

<!DOCTYPE html>
<html>
  <head>
    <title>Michael Parrott | {{ page.title }}</title>
    <link type="text/css" rel="stylesheet" href="/css/main.css"/>
    {% if page.type == "post" %}
    <link type="text/css" rel="stylesheet" href="/css/posts.css"/>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header>
      <h1 style="display: inline;">Michael Parrott</h1>
      <ul id="site-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </header>

    <section id="content">
      {{ content }}
    </section>

    <footer></footer>
  </body>
</html>
