---
---

<!DOCTYPE html>
<html>
  <head>
    <title>Michael Parrott | {{ page.title }}</title>
    <link type="text/css" rel="stylesheet" href="/css/main.css"/>
    {% if page.type == "post" %}
    <link type="text/css" rel="stylesheet" href="/css/posts.css"/>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header>
      <h1 style = "display: inline;">Michael Parrott</h1>
      <ul id = "site-nav">
        <a href="/"><li>Home</li></a>
        <a href="/projects"><li>Projects</li></a>
        <a href="/about"><li>About</li></a>
      </ul>
    </header>

    <section id="content">
      {{ content }}
    </section>

    <footer></footer>
  </body>
</html>
